  <div class="list">
    <ng-container>
      <form>
        Description: <input type="text" name="firstname"><br>
        Type: <input type="text" name="lastname"><br>
        Amount: <input type="text" name="firstname"><br>
      </form>
    </ng-container>
  </div>
  <div class="save">
    <button (click)="delete()" class="button-red">Delete</button>
    <button (click)="save()" class="button-blue" style="float: right;">Save</button>
  </div>
  <div class="back">
    <button (click)="navToList()" class="button-default">Back</button>
  </div>
